/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estiliza o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
}

/* Estiliza o polegar da barra de rolagem com transparência */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.6);
    border-radius: 10px;
}

/* Muda a cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.8);
}


