.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.resumo-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.notificacoes {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
}
