.despesa-header {
    background-color: #f8f9fa;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #dee2e6;
}

.despesa-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-col {
    text-align: center;
}

.despesa-row {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
    align-items: center;
}

.despesa-row:nth-child(even) {
    background-color: #f1f3f5;
}

.despesa-row:hover {
    background-color: #e9ecef;
}

.despesa-row .text-right {
    display: flex;
    justify-content: flex-end;
}

.despesa-row .btn {
    margin-left: 5px;
}

/* Estilo para o botão flutuante */
.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse; /* Mantém o botão "+" embaixo */
    align-items: flex-end; /* Alinha tudo à direita */
}

.fab-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.fab-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Mantém as opções alinhadas à direita */
}

.fab-options button {
    margin-bottom: 10px;
    width: 150px;
    opacity: 0;
    transform: translateY(20px); /* Inicia abaixo do ponto final */
    animation: slide-up 0.3s forwards ease-in-out;
}

/* Animação para os botões subirem */
@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0); /* Move para sua posição original */
    }
}

/* Animação para os botões subirem */
@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0); /* Move para sua posição original */
    }
}

/* Estilo para cada botão animar com delay */
.fab-options button:nth-child(1) {
    animation-delay: 0.1s;
}

.fab-options button:nth-child(2) {
    animation-delay: 0.2s;
}